{% extends 'base.html' %}
{% block title %}修改头像 - BBS博客系统{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top:40px;">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align:center;"><h3 class="panel-title" style="font-size:18px;font-weight:700;color:#2c3e50;">修改头像</h3></div>
                <div class="panel-body" style="padding:28px;">
        <form id="avatarForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>当前头像</label>
                <div>
                    <img id="avatarPreview" src="{{ request.user.avatar.url }}"
                         width="120" height="120" class="img-thumbnail">
                </div>
            </div>
            <div class="form-group">
                <label>选择新头像</label>
                <input type="file" name="avatar" id="id_avatar" accept="image/*">
                <span class="text-danger" id="error_avatar"></span>
            </div>
            <button type="button" class="btn btn-primary" id="saveAvatarBtn">保存</button>
        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script>
    $(function () {
        $('#id_avatar').change(function () {
            var file = this.files[0];
            if (!file) return;
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#avatarPreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });

        $('#saveAvatarBtn').click(function () {
            $('#error_avatar').text('');
            var formData = new FormData($('#avatarForm')[0]);
            $.ajax({
                url: '/set_avatar/',
                type: 'post',
                data: formData,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.code === 200) {
                        alert(res.msg);
                        $('#avatarPreview').attr('src', '{{ request.user.avatar.url }}?t=' + Date.now());
                    } else {
                        $.each(res.msg, function (k, v) {
                            $('#error_' + k).text(v);
                        });
                    }
                }
            });
        });
    });
</script>
{% endblock %}